<footer class="footer-area" th:fragment="footer">
  <div class="container">
    <div class="row single-footer-widget">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
        <h5>Dịch vụ</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a th:href="@{#moiNhat}">Mới nhất</a></li>
          <li><a th:href="@{#tatCa}">Tất cả</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
        <h5>CHI TIẾT</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a th:href="@{#}">Thông tin phòng</a></li>
          <li><a th:href="@{#}">Liên hệ</a></li>
          <li><a th:href="@{#}">....</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-4">
        <h5>THÔNG TIN KHÁCH SẠN</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li>HÀ NỘI</li>
          <li>ISP@gmail.com</li>
          <li>096xxxxxx</li>
          <li>.....</li>
        </ul>
      </div>
      <div class="col-12 copyright mt-2">
        <p class="float-right">
          <a th:href="@{#} ">
            <span class="fa-stack fa-lg ">
                <span class="fa fa-square fa-stack-2x"></span>
                <span class="fa fa-angle-up fa-stack-1x fa-inverse"></span>
            </span>
            <span class="hover-text">Lên đầu trang</span>
          </a>
        </p>
      </div>
      <div class="col text-center border-top">
        <strong>Group6IS1803&copy;2024.</strong>
      </div>
    </div>
  </div>
</footer>
