<footer class="boxcar-footer footer-style-one cus-footer" th:fragment="footer">
    <div class="widgets-section">
        <div class="row">
            <!-- Footer Column -->

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <div class="footer-widget links-widget wow fadeInUp">
                    <h4 class="widget-title">Useful Links</h4>
                    <div class="widget-content">
                        <ul class="user-links style-two">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
                <div class="footer-widget links-widget wow fadeInUp" data-wow-delay="100ms">
                    <h4 class="widget-title">Quick Links</h4>
                    <div class="widget-content">
                        <ul class="user-links style-two">
                            <li><a href="#">Get in Touch</a></li>
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Live chat</a></li>
                            <li><a href="#">How it works</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- Footer Column -->
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="footer-widget social-widget wow fadeInUp" data-wow-delay="400ms">
                    <h4 class="widget-title">Business Hours</h4>
                    <div class="widget-content">
                        <div class="text">
                            Monday - Friday: 09:00AM - 09:00PM<br>
                            Saturday: 09:00AM - 07:00PM<br>
                            Sunday: Closed
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="copyright-text text-center">© 2024 ISPG6.com. All rights reserved.</div>
    </div>
</footer>