<footer class="boxcar-footer footer-style-one cus-footer" th:fragment="footer">
    <div class="widgets-section">
        <div class="row">
            <!-- Footer Column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <div class="footer-widget links-widget wow fadeInUp">
                    <h4 class="widget-title">Useful Information</h4>
                    <div class="widget-content">
                        <div class="text">
                            Address:
                            Hoa Lac High-tech Park, Km 29, Thang Long Avenue, Ha Noi, Viet Nam<br>
                            Email:
                            giangnhhe181305@fpt.edu.vn<br>
                            Phone: 
                            +84 32 7499 233<br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
                <div class="footer-widget links-widget wow fadeInUp" data-wow-delay="100ms">
                    <h4 class="widget-title">Friendly Hotel Team</h4>
                    <div class="widget-content">
                        <div class="text">
                            Our dedicated team is here to ensure your stay is as pleasant and comfortable as possible.
                            From front desk to housekeeping, we are committed to providing excellent service with a
                            smile.
                        </div>
                    </div>
                </div>

            </div>
            <!-- Footer Column -->
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="footer-widget social-widget wow fadeInUp" data-wow-delay="400ms">
                    <h4 class="widget-title">Business Hours</h4>
                    <div class="widget-content">
                        <div class="text">
                            Weekdays : 07:00AM - 11:00PM<br>
                            Weekends : 08:00AM - 11:00PM<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="copyright-text text-center">© 2024 ISPG6.com. All rights reserved.</div>
    </div>
</footer>