<header class="header-inner" th::fragment="header">
    <div class="inner-container c-box">
        <div class="logo-inner">
            <div class="logo"><a href="home"><img
                        src="https://i.pinimg.com/564x/0b/61/c6/0b61c67eb29b88d093eef8fe67cccc1f.jpg" alt=""></a>
            </div>
        </div>
        <!-- Nav Box-->
        <div class="nav-out-bar">
            <nav class="nav main-menu">
                <ul class="navigation" id="navbar">
                    <!-- <li><a href="/receptionist/">Room List</a> </li> -->
                    <li><a href="/receptionist/booking">Booking Room</a> </li>
                    <li><a href="/receptionist/listinvoice">Invoice</a> </li>
                    <li><a href="/receptionist/customer">Manage Customer</a> </li>
                    <li><a href="/receptionist/listInfo">Manage Guest Information</a> </li>


                </ul>
            </nav>
            <!-- Main Menu End-->
        </div>

        <div class="right-box">
            <a href="#nav-mobile" title="">
                <svg width="22" height="11" viewBox="0 0 22 11" xmlns="http://www.w3.org/2000/svg">
                    <rect width="22" height="2" fill="white" />
                    <rect y="9" width="22" height="2" fill="white" />
                </svg>
            </a>
            <a href="/contact" title="" class="box-account">Guest Contact</a>
            <a href="/room" title="" class="box-account">View Room</a>
            <a href="/receptionist/profileEm" title="" class="box-account">Profile</a>
            <a href="/logout" title="" class="box-account">Logout</a>
        </div>
    </div>
    <div id="nav-mobile"></div>
</header>