<header class="header-inner" th::fragment="header">
    <div class="inner-container c-box">
        <div class="logo-inner">
            <div class="logo"><a href="home"><img
                        src="https://i.pinimg.com/564x/0b/61/c6/0b61c67eb29b88d093eef8fe67cccc1f.jpg" alt=""></a>
            </div>
        </div>
        <!-- Nav Box-->
        <div class="nav-out-bar">
            <nav class="nav main-menu">
                <ul class="navigation" id="navbar">
                   
                  
                    <li><a href="/admin/statistic">Statistic</a> </li>
                    <li><a href="/admin/booking">Booking Room</a> </li>
                    <li><a href="/admin/room">Manage Booking </a> </li>
                    <li><a href="/admin/listinvoice">Invoice</a> </li>
                    <li><a href="/admin/listRooms">Manage Room</a> </li>
                    <li><a href="/admin/listRoomType">Manage Room Type</a> </li>
                    <li><a href="/admin/listServices">Manage Service</a> </li>
                    <li><a href="/admin/listServiceType">Manage Service Type</a> </li>
                    <li><a href="/admin/roomitems">Manage Item</a> </li>
                    <li><a href="/admin/itemdetail_list">Manage Item Details</a> </li>
                    <li><a href="/admin/employee_list">Manage Employee</a> </li>
                    <li><a href="/admin/customer">Manage Customer</a> </li>
                    <li><a href="/admin/viewProfile">Profile</a> </li>
                    <li><a href="/logout">Logout</a> </li>



                </ul>
            </nav>
            <!-- Main Menu End-->
        </div>

        <div class="right-box">

            <a href="#nav-mobile" title="MENU" style="display: flex; align-items: center; text-decoration: none; color: white; font-size: 1em; font-weight: bold;">
                <svg width="22" height="11" viewBox="0 0 22 11" xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;">
                    <rect width="22" height="2" fill="white" />
                    <rect y="9" width="22" height="2" fill="white" />
                </svg>
                MENU
            </a>
            
            <!-- <a href="/admin/viewProfile" title="" class="box-account">Profile</a> -->
            <!-- <a href="/logout" title="" class="box-account">Logout</a> -->
          

        </div>
    </div>
    <div id="nav-mobile"></div>
</header>