<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/home/image/favicon.png}" type="image/png">
    <title>Royal Hotel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/home/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/home/css/font-awesome.min.css}">
    <!-- main css -->
    <link rel="stylesheet" th:href="@{/home/css/style.css}">
    <link rel="stylesheet" th:href="@{/home/css/responsive.css}">
    <style>
        .arrow-up {
            display: inline-block;
            transform: rotate(-90deg);
        }
    </style>
</head>