<header class="header-inner" th::fragment="header">
    <div class="inner-container c-box">
        <div class="logo-inner">
            <div class="logo"><a href="home"><img src="https://i.pinimg.com/564x/0b/61/c6/0b61c67eb29b88d093eef8fe67cccc1f.jpg"
                        alt=""></a>
            </div>
            </div>
            <!-- Nav Box-->
            <div class="nav-out-bar">
                <nav class="nav main-menu">
                    <ul class="navigation" id="navbar">
                        <li class="current-dropdown"><span>Inventory <i class="fa-solid fa-angle-down"></i></span>
                            <div class="mega-menu">
                                <div class="mega-column">
                                    <h3>Inventory List</h3>
                                    <ul>
                                        <li><a href="inventory-list-01.html" title="">Inventory List v1</a></li>
                                        <li><a href="inventory-list-02.html" title="">Inventory List v2</a></li>
                                        <li><a href="inventory-map-cards.html" title="">Map - Cards</a></li>
                                        <li><a href="inventory-map-rows.html" title="">Map - Rows</a></li>
                                        <li><a href="inventory-sidebar-rows.html" title="">Sidebar - Rows</a></li>
                                        <li><a href="inventory-sidebar-cards.html" title="">Sidebar - Cards</a></li>

                                </ul>
                                </div>
                                <div class="mega-column">
                                    <h3>Inventory Single</h3>
                                    <ul>
                                    <li><a href="inventory-page-single.html" title="">Inventory Single v1</a>
                                    </li>
                                    <li><a href="inventory-page-single-v2.html" title="">Inventory Single v2</a>
                                    </li>
                                    <li><a href="inventory-page-single-v3.html" title="">Inventory Single v3</a>
                                    </li>
                                    <li><a href="inventory-page-single-v4.html" title="">Inventory Single v4</a>
                                    </li>
                                    <li><a href="inventory-page-single-v5.html" title="">Inventory Single v5</a>
                                    </li>
                                    </ul>
                                    </div>
                                    <div class="mega-column">
                                        <h3>Popular Makes</h3>
                                        <ul>
                                            <li><a href="inventory-page-single.html" title="">Audi</a></li>
                                            <li><a href="inventory-page-single.html" title="">BMW</a></li>
                                            <li><a href="inventory-page-single.html" title="">Ford</a></li>
                                            <li><a href="inventory-page-single.html" title="">Honda</a></li>
                                            <li><a href="inventory-page-single.html" title="">Land Rover</a></li>
                                            <li><a href="inventory-page-single.html" title="">Mercedes-Benz</a></li>
                                        </ul>
                                    </div>
                                    <div class="mega-column">
                                        <h3>Type</h3>
                                        <ul>
                                            <li><a href="inventory-page-single.html" title="">Sedan</a></li>
                                            <li><a href="inventory-page-single.html" title="">SUVs</a></li>
                                            <li><a href="inventory-page-single.html" title="">Sport Coupe</a></li>
                                            <li><a href="inventory-page-single.html" title="">Convertible</a></li>
                                            <li><a href="inventory-page-single.html" title="">Wagon</a></li>
                                        </ul>
                                    </div>
                                    </div>
                                    </li>

                    <li class="current-dropdown"><span>Shop <i class="fa-solid fa-angle-down"></i></span>
                        <ul class="dropdown">
                            <li><a href="shop-list.html">Shop List</a></li>
                            <li><a href="shop-single.html">Shop Single</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                    <li class="current-dropdown right-one"><span>Pages <i class="fa-solid fa-angle-down"></i></span>
                        <ul class="dropdown">
                            <li class="nav-sub"><a>Dashboard <i class="fa fa-angle-right"></i></a>
                                <ul class="dropdown deep subnav-menu">
                                    <li><a href="dashboard.html" title="">Dashboard</a></li>
                                    <li><a href="my-listings.html" title="">My Listings</a></li>
                                    <li><a href="add-listings.html" title="">Add Listings</a></li>
                                    <li><a href="favorite.html" title="">Favorites</a></li>
                                    <li><a href="saved.html" title="">Saved Search</a></li>
                                    <li><a href="messages.html" title="">Messages</a></li>
                                    <li><a href="profile.html" title="">Profile</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Services</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="terms.html">Terms</a></li>
                            <li><a href="team-list.html">Team List</a></li>
                            <li><a href="team-single.html">Team Single</a></li>
                            <li><a href="dealer.html">Dealer List</a></li>
                            <li><a href="dealer-single.html">Dealer Single</a></li>
                            <li><a href="loan-calculator.html">Loan Calculator</a></li>
                            <li><a href="compare.html">Compare</a></li>
                            <li><a href="404.html">404</a></li>
                            <li><a href="invoice.html">Invoice</a></li>
                            <li><a href="ui-elements.html">UI Elements</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a>
                    </li>
                    </ul>
                    </nav>
                    <!-- Main Menu End-->
                    </div>

        <div class="right-box">
          
                <a href="#nav-mobile" title="">
                    <svg width="22" height="11" viewBox="0 0 22 11"  xmlns="http://www.w3.org/2000/svg">
                        <rect width="22" height="2" fill="white" />
                        <rect y="9" width="22" height="2" fill="white" />
                        </svg>
                        </a>
                       



                        
            <a href="room" title="" class="box-account"> Xem Phòng</a>
            <a href="login" title="" class="box-account"> Đăng nhập</a>
            <a href="#" title="" class="box-account"> Liên hệ </a>
            
           
           
                        </div>
                        </div>
    <div id="nav-mobile"></div>
    </header>