<header class="header-inner" th::fragment="header">
    <div class="inner-container c-box">
        <div class="logo-inner">
            <div class="logo"><a href="home"><img
                        src="https://i.pinimg.com/564x/0b/61/c6/0b61c67eb29b88d093eef8fe67cccc1f.jpg" alt=""></a>
            </div>
        </div>

        <div class="right-box">
            <a href="/home" title="" class="box-account">Home</a>
            <a href="/contact" title="" class="box-account">Contact</a>
            <a href="/login" title="" class="box-account">Login</a>
        </div>
    </div>
    <div id="nav-mobile"></div>
</header>