<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Room</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="container">
        <h2>Add Room</h2>
        <form th:action="@{/admin/saveRoom}" th:object="${room}" method="post">
            <div class="form-group">
                <label for="roomNum">Room Number:</label>
                <input type="text" class="form-control" id="roomNum" th:field="*{roomNum}">
            </div>
            <div class="form-group">
                <label for="roomType">Room Type:</label>
                <select class="form-control" id="roomType" th:field="*{roomType.id}">
                    <option th:each="roomType : ${roomTypes}" th:value="${roomType.id}" th:text="${roomType.name}">Room
                        Type</option>
                </select>
            </div>
            <div class="form-group">
                <label for="status">Status:</label>
                <select class="form-control" id="status" th:field="*{status}">
                    <option value="active" th:selected="${status eq 'active'}">Active</option>
                    <option value="inactive" th:selected="${status eq 'inactive'}">Inactive</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-primary">Cancel</button>
            <a class="btn btn-primary" href="/admin/listRooms">Display List Room</a>
        </form>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>