<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Booking Room</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/css/style.css}" media="all" href="/css/style.css" type="text/css">
  <link href="https://themify.me/themify-icons" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" />

  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/fonts/themify-icons-font/themify-icons/themify-icons.css}" />
  <link rel="stylesheet" th:href="@{/css/AdminLTE.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" media="all" href="/css/style.css" type="text/css">
  <link rel="stylesheet" th:href="@{/fonts/themify-icons-font/themify-icons/themify-icons.css}" media="all"
    href="/static/fonts/themify-icons-font/themify-icons/themify-icons.css" type="text/css">
  <!-- thư viện để add header và footer  -->
  <link th:href="@{/css/modalviet.css}" rel="stylesheet" />
  <link th:href="@{/css/bootstrap.min.copy.css}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}" />
  <link th:href="@{/css/mmenu.css}" rel="stylesheet" />
  <link th:href="@{/css/style.copy.css}" rel="stylesheet" />

  <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />
  <link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon" />

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <style>
    .action-buttons {
      display: flex;
      justify-content: center;
      /* căn giữa theo chiều ngang */
      margin-top: 20px;
    }

    .search-container {
      display: flex;
      align-items: center;
      /* căn giữa theo chiều dọc */
      gap: 10px;
      /* khoảng cách giữa các phần tử */
      max-width: 600px;
      /* chiều rộng tối đa của search container */
      margin: 0 auto;
      /* căn giữa container */
    }

    .search-input,
    .input,
    .option {
      flex: 1;
      padding: 5px;
      border: 2px solid #000;
      border-radius: 25px;
      font-size: 16px;
      box-sizing: border-box;
    }

    .search-input {
      margin-right: 5px;
    }

    .input {
      margin-right: 5px;
    }

    .option {
      min-width: 120px;
    }
  </style>
</head>

<body>
  <div class="boxcar-wrapper">
    <header class="boxcar-header header-style-v1 style-two inner-header cus-style-1">
      <div th:replace="~{fragments/header_admin :: header}"></div>
  </header>

    <!-- thêm class layout-radius để fix header  -->
    <section class="ftco-section layout-radius">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Booking</h2>
          </div>
        </div>
        <div class="box">
          <div class="box-header d-flex justify-content-between align-items-center">

            <div>
              <button class="btn js-buy-ticket">+ Booking Room</button>
            </div>
            <form class="form-inline ml-auto">
              <div class="input-group" style="width: 200px">
                <input type="text" id="searchbar" class=" search-input" placeholder="Search Here"
                  oninput="filterRows()">
              </div>
              <div class="input-group" style="width: 200px">
                <input id="dateInput" class="input" name="keyDate" type="date" onchange="filterRows()">
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-wrap">
              <table class="table table-striped" id="emp-table">
                <thead class="thead-dark">
                  <tr>
                    <th>Booking ID</th>
                    <th>Customer Name</th>
                    <th>Booking Date</th>
                    <th>Employee Name</th>
                    <th>Detail</th>

                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody id="body">
                  <tr th:each="booking : ${listBooking}">
                    <td th:text="${booking.bookingID}"></td>
                    <td th:text="${booking.customerID.customerName}"></td>
                    <td>
                      <span th:text="${#dates.format(booking.bookingDate, 'yyyy-MM-dd')}"></span>
                    </td>
                    <td>
                      <span th:each="register : ${booking.register}">
                        <span th:text="${register.employeeID.fullName}"></span>
                        <br />
                      </span>
                    <td>
                      <a th:href="@{'bookingdetail?id=' + ${booking.bookingID}}" class="ti-list"></a>
                    </td>
                    <td>
                      <a href="javascript:void(0);" th:if="${booking.isCancelled == 1}"
                        th:onclick="'confirmDelete(' + ${booking.bookingID} + ');'" class="btn btn-danger ti-close"></a>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="pagination">
            <button id="prev-page" onclick="prevPage()">Previous</button>
            <span id="page-info"></span>
            <button id="next-page" onclick="nextPage()">Next</button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <style>
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .pagination button {
      margin: 0 5px;
      padding: 10px 20px;
      border: none;
      background-color: #05073e;
      color: white;
      cursor: pointer;
      border-radius: 4px;
    }

    .pagination button:hover {
      background-color: #05073e;
    }

    #page-info {
      margin: 0 10px;
    }
  </style>

  <!-- ==================================Filter Serch=========================== -->

  <script>
    const rowsPerPage = 5;
    let currentPage = 1;
    const table = document.getElementById('emp-table');
    const tbody1 = table.getElementsByTagName('tbody')[0];
    const rows = tbody1.getElementsByTagName('tr');
    const pageInfo = document.getElementById('page-info');
    let filteredRows = Array.from(rows);

    function displayRows() {
      const start = (currentPage - 1) * rowsPerPage;
      const end = start + rowsPerPage;

      Array.from(rows).forEach((row) => {
        row.style.display = 'none'; // Hide all rows initially
      });

      filteredRows.slice(start, end).forEach((row) => {
        row.style.display = ''; // Display only the filtered rows within the current page
      });

      pageInfo.textContent = `Page ${currentPage} of ${Math.ceil(filteredRows.length / rowsPerPage)}`;
    }

    function prevPage() {
      if (currentPage > 1) {
        currentPage--;
        displayRows();
      }
    }

    function nextPage() {
      if (currentPage * rowsPerPage < filteredRows.length) {
        currentPage++;
        displayRows();
      }
    }

    function filterRows() {

      const dateValue = document.getElementById('dateInput').value;
      const customerNameValue = document.getElementById('searchbar').value.toLowerCase();

      filteredRows = Array.from(rows).filter((row) => {

        const invoiceDate = row.cells[2].textContent;
        const customerName = row.textContent.toLowerCase();

        return (

          (invoiceDate.includes(dateValue) || !dateValue) &&
          (customerName.includes(customerNameValue) || !customerNameValue)
        );
      });

      currentPage = 1; // Reset to the first page after filtering
      displayRows();
    }

    // Initial display
    displayRows();
  </script>

  <div th:replace="~{fragments/footer :: footer}"></div>

  <!-- modal chứa cả các giao diện phủ lên -->
  <div class="modal js-modal">
    <div class="window js-modal-window">
      <div class="title">BOOKING</div>
      <form th:action="@{/admin/saveBooking}" th:object="${bookingInfo}" method="post"
        onsubmit="return checkFormSubmissionSync(event)">
        <input type="hidden" id="selected-rooms-input" th:field="*{selectedRoomsJson}">
        <div class="main">
          <div class="lefttt" style="background-color: #F2F1F1;">
            <h6 style="margin-bottom: 10px; text-align: center; color: #0077cc;">Customer information</h6>

            <div style="margin-bottom: 30px; position: relative;">
              <span class="material-icons" style="vertical-align: middle;">account_box</span>
              <input type="text" th:field="*{customerName}" style="vertical-align: middle; width: 220px;"
                name="customerName" id="customerName" placeholder="Enter customer name..." required>
              <div
                style="position: absolute; bottom: -25px; left: 22%; transform: translateX(-10%); text-align: center;">
                <span class="customerNameText" style="font-size: 13px; word-wrap: break-word;"></span>
              </div>
            </div>

            <div style="margin-bottom: 30px; position: relative;">
              <span class="material-icons" style="vertical-align: middle;">badge</span>
              <input type="number" th:field="*{customerIdentificationID}" style="vertical-align: middle; width: 220px;"
                name="customerIdentificationID" id="customerIdentificationID" placeholder="Enter ID card number..."
                required>
              <div
                style="position: absolute; bottom: -25px; left: 22%; transform: translateX(-10%); text-align: center;">
                <span class="customerIdentificationIDText" style="font-size: 8px; word-wrap: break-word;"></span>
              </div>
            </div>

            <div style="margin-bottom: 30px; position: relative;">
              <span class="material-icons" style="vertical-align: middle;">call</span>
              <input type="number" th:field="*{customerPhone}" style="vertical-align: middle; width: 220px;"
                name="customerPhone" id="customerPhone" placeholder="Enter phone number..." required>
              <div
                style="position: absolute; bottom: -25px; left: 22%; transform: translateX(-10%); text-align: center;">
                <span class="customerPhoneText" style="font-size:8px; word-wrap: break-word;"></span>
              </div>
            </div>

            <div style="margin-bottom: 30px; position: relative;">
              <span class="material-icons" style="vertical-align: middle;">mail</span>
              <input type="email" th:field="*{customerEmail}" style=" width: 220px; vertical-align: middle;"
                name="customerEmail" id="customerEmail" placeholder="Enter customer email..." required>
              <div
                style="position: absolute; bottom: -25px; left: 22%; transform: translateX(-10%); text-align: center;">
                <span class="customerEmailText" style="font-size: 13px; word-wrap: break-word;"></span>
              </div>
            </div>

            <div style="margin-bottom: 30px; position: relative;">
              <span class="material-icons" style="vertical-align: middle;">location_on</span>
              <input type="text" th:field="*{customerAddress}" style=" width: 220px; vertical-align: middle;"
                name="customerAddress" id="customerAddress" placeholder="Enter customer address..." required>
              <div
                style="position: absolute; bottom: -25px; left: 22%; transform: translateX(-10%); text-align: center;">
                <span class="customerAddressText" style="font-size: 13px; word-wrap: break-word;"></span>
              </div>
            </div>

            <span class="material-icons" style="vertical-align: middle;">transgender</span>
            <label for="male" style="vertical-align: middle; margin-right: 10px;">Male</label>
            <input type="radio" th:field="*{gender}" value="Male" style="vertical-align: middle; margin-right: 20px;"
              required>
            <label for="female" style="vertical-align: middle; margin-right: 10px;">Female</label>
            <input type="radio" th:field="*{gender}" value="Female" style="vertical-align: middle;" required>
          </div>

          <h6 style="margin-bottom: 10px; text-align: center; color: #0077cc;">Room Information</h6>
          <div class="container" style="margin-left: 305px;">

            <div style="margin-bottom: 10px;">
              <label for="checkin-date" style="display: inline-block; width: 150px;">Check-in date</label>
              <input type="date" id="checkin-date" th:field="*{checkinDate}"
                style="display: inline-block; margin-left: -30px;" required>
              <label for="checkin-time" style="display: inline-block; width: 150px; margin-left: 20px;">Check-in
                time</label>
              <input type="time" id="checkin-time" name="checkin-time"
                style="display: inline-block; margin-left: -30px;text-align: center;" value="12:00" readonly>
            </div>

            <div>
              <label for="checkout-date" style="display: inline-block; width: 160px;">Check-out date</label>
              <input type="date" id="checkout-date" th:field="*{checkoutDate}"
                style="display: inline-block; margin-left: -40px;" required>
              <label for="checkout-time" style="display: inline-block; width: 160px; margin-left: 20px;">Check-out
                time</label>
              <input type="time" id="checkout-time" name="checkout-time"
                style="display: inline-block; margin-left: -40px; text-align: center;" value="11:00" readonly>
            </div>

            <div style="margin-top: 5px;">
              <label for="employee-id" style="display: inline-block; width: 160px;">Receptionist:</label>
              <input type="number" th:field="*{employeeId}" style="display: none; margin-left: -30px; width: 147px;"
                placeholder="Nhập mã nhân viên..." required min="1" readonly>
              <p style="display: inline-block; margin-left: -40px;" th:text="${user1.fullName}"></p>
            </div>

            <div style="margin-top: -50px; margin-left: 290px;">
              <label for="customer-quantity"
                style="display: inline-block; margin-left: 5px; width: 150px;">C.Quantity</label>
              <input type="number" th:field="*{customerQuantity}"
                style="display: inline-block; margin-left: -30px; width: 105px;" placeholder="Nhập số lượng khách..."
                required min="1">
            </div>
          </div>

          <!-- Danh sách phòng trống -->
          <div class="container" style="margin-left: -20px; margin-top: 10px;">
            <h6 style="margin-bottom: 10px; margin-right: 250px; text-align: center; color: #0077cc;">Available Rooms</h6>
            <div class="list-view1"
              style="max-height: 170px; margin-top: 0; margin-left: 290px; border: 2px solid rgba(0, 0, 0, 0.5); border-radius: 4px; max-width: 300px; overflow-y: auto; padding: 10px;">
              <table style="border-collapse: collapse; width: 100%; border-radius: 0; font-size: smaller;">
                <thead>
                  <tr>
                    <th style="border: 2px solid rgba(0, 0, 0, 0.2); background-color: #44444470; text-align: center;">
                      Room Number</th>
                    <th style="border: 2px solid rgba(0, 0, 0, 0.2); background-color: #44444470;text-align: center;">
                      Room Type </th>
                    <th style="border: 2px solid rgba(0, 0, 0, 0.2); background-color: #44444470;text-align: center;">
                      Add</th>
                  </tr>
                </thead>
                <tbody id="available-rooms">
                  <!-- Các phòng trống sẽ được thêm vào đây dưới dạng các hàng của bảng -->
                </tbody>
              </table>
            </div>
          </div>

          <!-- Phòng đã chọn -->
          <div class="container" style="margin-left: 280px; margin-top: -197px;">
            <h6 style="margin-bottom: 10px; margin-left: 30px; text-align: center; color: #0077cc;">Selected Rooms</h6>
            <div class="list-view1"
              style="max-height: 170px; margin-top: 0; margin-left: 300px; border: 2px solid rgba(0, 0, 0, 0.5); border-radius: 4px; max-width: 300px; overflow-y: auto; overflow-x: auto; padding: 10px;">
              <table style="border-collapse: collapse; width: 100%; border-radius: 0; font-size: smaller;">
                <thead>
                  <tr>
                    <th style="border: 2px solid rgba(0, 0, 0, 0.2); background-color: #44444470; text-align: center;">
                      Room Number</th>
                    <th style="border: 2px solid rgba(0, 0, 0, 0.2); background-color: #44444470;text-align: center;">
                      Room Type </th>
                    <th style="border: 2px solid rgba(0, 0, 0, 0.2); background-color: #44444470;text-align: center;">
                      Delete</th>
                  </tr>
                </thead>
                <tbody id="selected-rooms">
                  <!-- Các phòng đã chọn sẽ được thêm vào đây dưới dạng các hàng của bảng -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="footer">
          <button type="submit" class="button green-button">BOOKING</button>
          <button type="button" class="button gray-button js-modal-close">EXIT</button>
        </div>
      </form>
    </div>
  </div>



  <!-- =======================check-checkInDate-CheckOutDate============================================================== -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy ngày hiện tại theo múi giờ Việt Nam
        const now = new Date();
        const vietnamTime = new Date(now.toLocaleString("en-US", { timeZone: "Asia/Ho_Chi_Minh" }));
        const year = vietnamTime.getFullYear();
        const month = String(vietnamTime.getMonth() + 1).padStart(2, '0'); // Tháng bắt đầu từ 0
        const day = String(vietnamTime.getDate()).padStart(2, '0');
        const today = `${year}-${month}-${day}`;

        // Thiết lập giá trị nhỏ nhất cho trường checkin date là ngày hiện tại
        const checkinDateInput = document.getElementById("checkin-date");
        checkinDateInput.setAttribute("min", today);

        checkinDateInput.addEventListener("change", function () {
            // Thiết lập giá trị nhỏ nhất cho trường checkout date là giá trị của checkin date cộng thêm 1 ngày
            const checkoutDateInput = document.getElementById("checkout-date");
            const checkinDate = new Date(checkinDateInput.value);

            // Thêm 1 ngày vào check-in date
            checkinDate.setDate(checkinDate.getDate() + 1);

            // Định dạng lại ngày tháng để phù hợp với giá trị min của checkout-date
            const minCheckoutDate = checkinDate.toISOString().split("T")[0];
            checkoutDateInput.setAttribute("min", minCheckoutDate);
        });
    });
</script>

  <!-- ====================================check-validation========================================================== -->
  <script>
    const customerNameText = document.querySelector('.customerNameText');
    const customerIdentificationIDText = document.querySelector('.customerIdentificationIDText');
    const customerPhoneText = document.querySelector('.customerPhoneText');
    const customerEmailText = document.querySelector('.customerEmailText');
    const customerAddressText = document.querySelector('.customerAddressText');

    function checkCustomerName() {
      return new Promise((resolve, reject) => {
        const customerNamePattern = /^[\p{L}\p{N} ]+$/u;
        const customerName = document.getElementById('customerName').value;
        if (customerName.match(customerNamePattern)) {
          customerNameText.innerHTML = '';
          resolve(true);
        } else {
          customerNameText.innerHTML = 'Not contain special characters.';
          resolve(false);
        }
      });
    }

    function checkCustomerIdentificationIDText() {
      return new Promise((resolve, reject) => {
        const customerIdentificationIDPattern = /^[0-9]{9,12}$/;
        const customerIdentificationID = document.getElementById('customerIdentificationID').value.trim();

        if (customerIdentificationID.match(customerIdentificationIDPattern) ) {
          customerIdentificationIDText.innerHTML = '';
          resolve(true);
        } else {
          customerIdentificationIDText.innerHTML = 'Must be a positive number between 9 and 12 digits';
          resolve(false);
        }
      });
    }

    function checkPhoneNumber() {
  return new Promise((resolve, reject) => {
    const customerPhonePattern = /^0\d{9}$/;
    const customerPhone = document.getElementById('customerPhone').value.trim();
  
    if (customerPhone.match(customerPhonePattern) && BigInt(customerPhone) > 0n) {
      if (customerPhone.length === 10) {
        customerPhoneText.innerHTML = '';
        resolve(true);
      } else if (customerPhone.length < 10) {
        customerPhoneText.innerHTML = 'Must be exactly 10 digits';
        resolve(false);
      } else {
        customerPhoneText.innerHTML = 'Must be exactly 10 digits';
        resolve(false);
      }
    } else {
      customerPhoneText.innerHTML = 'Must be a positive number,10 digits and start with 0';
      resolve(false);
    }
  });
}

function checkCustomerAddress() {
  return new Promise((resolve, reject) => {
    const customerAddressPattern = /^[\p{L}\p{N}, ]+$/u; 
    const customerAddress = document.getElementById('customerAddress').value;
    if (customerAddress.match(customerAddressPattern)) {
      customerAddressText.innerHTML = '';
      resolve(true);
    } else {
      customerAddressText.innerHTML = ' Not contain special characters.';
      resolve(false);
    }
  });
}

    function checkDuplicateEmail() {
      return new Promise((resolve, reject) => {
        $.ajax({
          url: '/admin/customer_check-email',
          type: 'GET',
          data: { customerEmail: document.getElementById('customerEmail').value },
          async: true,
          success: function (response) {
            if (response && response != null) {
              customerEmailText.innerHTML = 'Email already exists.';
              resolve(false);
            } else {
              customerEmailText.innerHTML = '';
              resolve(true);
            }
          },
          error: function () {
            customerEmailText.innerHTML = 'Error checking email.';
            resolve(false);
          }
        });
      });
    }

    function checkEmail() {
      return new Promise((resolve, reject) => {
        const customerEmailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
        const forbiddenCharsPattern = /[!?#$%^*():;"',+=/\\|]/;
        const emailValue = document.getElementById('customerEmail').value.trim();
        if (!emailValue.match(customerEmailPattern)) {
          customerEmailText.innerHTML = 'Must be a valid email address.';
          resolve(false);
        } else if (emailValue.match(forbiddenCharsPattern)) {
          customerEmailText.innerHTML = 'Email must not contain special characters such as !?#$%^*():;"\',+=/\\|.';
          resolve(false);
        } else {
          customerEmailText.innerHTML = '';
          resolve(true);
        }
      });
    }

    async function checkFormSubmission() {
      const results = await Promise.all([
        // checkDuplicateEmail(),
        checkEmail(),
        checkCustomerName(),
        checkCustomerIdentificationIDText(),
        checkPhoneNumber(),
        checkCustomerAddress()
      ]);
      return results.every(result => result === true);
    }

    document.querySelector('form').addEventListener('submit', handleSubmit);

    async function checkFormSubmissionSync(event) {
      event.preventDefault();
      const isFormValid = await checkFormSubmission();
      if (isFormValid) {
        event.target.submit();
      } else {
        console.log('Form validation failed.');
      }
      return false; // Ngăn form gửi nếu không hợp lệ
    }
  </script>


  <!-- hiệu ứng js trượt vào  -->
  <script>
    const buyBtns = document.querySelectorAll(".js-buy-ticket");
    // 3 nút có class js.. lưu vào biến buyBtns
    const modal = document.querySelector(".js-modal");
    // lấy tất cả các thằng có class .js-modal
    const modalClose = document.querySelector(".js-modal-close");

    const modalWindow = document.querySelector(".js-modal-window");

    // hàm hiện modal mua vé (thêm class open cả modal)
    function showByTickets() {
      modal.classList.add("open");
      // alert('ok')
    }

    // hàm ẩn modal mua vé (xóa class open ở modal)
    function hideByTickets() {
      modal.classList.remove("open");
    }
    // lặp qua từng thẻ button và nghe hành vi click
    for (const buyBtn of buyBtns) {
      // từng thằng trong buyBtns
      buyBtn.addEventListener("click", showByTickets);
    }
    // nghe hành vi click vaof button close
    modalClose.addEventListener("click", hideByTickets);
    // khi click vào tất cả các khoảng modal
    modal.addEventListener("click", hideByTickets);
    // vì khi click vào tất cả các khoảng modal thì nó
    // bao gồm các giao diện phủ lên nên ngăn chặn bằng stopPropagation
    modalWindow.addEventListener("click", function (event) {
      event.stopPropagation();
    });
  </script>

  <!-- ========== lắng nghe sự thay đổi checkIn - checkOut để hiển thị ra phòng trống============ -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('checkin-date').addEventListener('change', updateAvailableRooms);
      document.getElementById('checkout-date').addEventListener('change', updateAvailableRooms);
    });

    function updateAvailableRooms() {
      const checkinDate = document.getElementById('checkin-date').value;
      const checkoutDate = document.getElementById('checkout-date').value;

      if (checkinDate && checkoutDate) {
        fetch('/admin/api/availableRooms', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ checkinDate, checkoutDate })
        })
          .then(response => response.json())
          .then(data => {
            const availableRoomsTable = document.getElementById('available-rooms');
            availableRoomsTable.innerHTML = '';
            data.forEach(room => {
              const row = document.createElement('tr');
              row.innerHTML = `
                      <td id="roomID" style="display:none;">${room.id}</td>
                      <td id="roomNum" style="border: 2px solid rgba(0, 0, 0, 0.2);">${room.roomNum}</td>
                      <td id="roomTypeId" style="display:none;">${room.roomTypeId}</td>
                      <td id ="roomTypeName" style="border: 2px solid rgba(0, 0, 0, 0.2);">${room.roomTypeName}</td>
                      <td id="roomTypeDescription" style="display:none;">${room.roomTypeDescription}</td>
                      <td id="priceHour" style="display:none;">${room.priceHour}</td>
                      <td id="priceDay" style="display:none;">${room.priceDay}</td>
                      <td id="status" style="display:none;">${room.status}</td>
                       <td id="cleaning" style="display:none;">${room.cleaning}</td>
                      <td style="border: 2px solid rgba(0, 0, 0, 0.2); text-align: center; vertical-align: middle;">
                          <a href="javascript:void(0);" class="add-room-link">
                              <span class="material-icons" style="color: green; margin-top: 10px;">add_circle</span>
                          </a>
                      </td>
                  `;
              availableRoomsTable.appendChild(row);
              console.log("row", row);
            });
          })
          .catch(error => console.error('Error fetching available rooms:', error));
      }
    }
  </script>

  <!-- ================== Bắt Click thêm phòng đã chọn-START=================================================================== -->
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const availableRoom = document.getElementById('available-rooms');
      availableRoom.addEventListener('click', (event) => {
        if (event.target.closest('.add-room-link')) {
          addRoomToSelectedTable(event);
        }
      });

      function addRoomToSelectedTable(event) {
        const row = event.target.closest('tr');

        const roomID = row.querySelector('#roomID, .roomID').textContent;
        const roomNum = row.querySelector('#roomNum, .roomNum').textContent;
        const roomTypeId = row.querySelector('#roomTypeId, .roomTypeId').textContent;
        const roomTypeName = row.querySelector('#roomTypeName, .roomTypeName').textContent;
        const roomTypeDescription = row.querySelector('#roomTypeDescription, .roomTypeDescription').textContent;
        const priceHour = row.querySelector('#priceHour, .priceHour').textContent;
        const priceDay = row.querySelector('#priceDay, .priceDay').textContent;
        const status = row.querySelector('#status, .status').textContent;
        const cleaning = row.querySelector('#cleaning, .cleaning').textContent;

        const selectedRoomsTableBody = document.getElementById('selected-rooms');
        if (!selectedRoomsTableBody) {
          console.error('selected-rooms element not found');
          return;
        }

        const existingRows = selectedRoomsTableBody.getElementsByTagName('tr');
        for (let i = 0; i < existingRows.length; i++) {
          const existingRoomNum = existingRows[i].querySelector('.roomNum').textContent;
          if (existingRoomNum === roomNum) {
            return;
          }
        }

        const newRow = document.createElement('tr');
        newRow.innerHTML = `
          <td class="roomID" style="display:none;">${roomID}</td>
          <td class="roomNum" style="border: 2px solid rgba(0, 0, 0, 0.2);">${roomNum}</td>
          <td class="roomTypeId" style="display:none;">${roomTypeId}</td>
           <td class="roomTypeName" style="border: 2px solid rgba(0, 0, 0, 0.2);">${roomTypeName}</td>
          <td class="roomTypeDescription" style="display:none;">${roomTypeDescription}</td>
          <td class="priceHour" style="display:none;">${priceHour}</td>
          <td class="priceDay" style="display:none;">${priceDay}</td>
          <td class="status" style="display:none;">${status}</td>
          <td class="cleaning" style="display:none;">${cleaning}</td>
          <td style="border: 2px solid rgba(0, 0, 0, 0.2); text-align: center; vertical-align: middle;">
            <a href="javascript:void(0)" class="remove-room-link">
              <span class="material-icons" style="color: red;margin-top: 10px;">cancel</span>
          </a>
          </td>
    `;
        selectedRoomsTableBody.appendChild(newRow);
        console.log("Row", row);
        updateSelectedRoomsInput();
      }

      const selectedRoomsTableBody = document.getElementById('selected-rooms');
      selectedRoomsTableBody.addEventListener('click', (event) => {
        if (event.target.closest('.remove-room-link')) {
          removeRoomFromSelectedTable(event);
        }
      });

      function removeRoomFromSelectedTable(event) {
        const row = event.target.closest('tr');
        row.remove();
        console.log("Row", row);
        updateSelectedRoomsInput();
      }
      // ======================================= Lấy danh sách phòng đã chọn ====================================================================================
      function getSelectedRooms() {
        const rows = selectedRoomsTableBody.getElementsByTagName('tr');
        const selectedRooms = [];

        for (let i = 0; i < rows.length; i++) {
          const roomID = rows[i].querySelector('.roomID').textContent;
          const roomNum = rows[i].querySelector('.roomNum').textContent;
          const roomTypeId = rows[i].querySelector('.roomTypeId').textContent;
          const roomTypeName = rows[i].querySelector('.roomTypeName').textContent;
          const roomTypeDescription = rows[i].querySelector('.roomTypeDescription').textContent;
          const priceHour = rows[i].querySelector('.priceHour').textContent;
          const priceDay = rows[i].querySelector('.priceDay').textContent;
          const status = rows[i].querySelector('.status').textContent;
          const cleaning = rows[i].querySelector('.cleaning').textContent;

          selectedRooms.push({
            id: roomID,
            roomNum,
            roomTypeId,
            roomTypeName,
            roomTypeDescription,
            priceHour,
            priceDay,
            status,
            cleaning
          });
        }
        console.log("invoiceLineData", JSON.stringify(selectedRooms));
        return selectedRooms;
      }
      // ========================= Update danh sách phòng đã chọn =====================================
      function updateSelectedRoomsInput() {
        const selectedRooms = getSelectedRooms();
        const selectedRoomsInput = document.getElementById('selected-rooms-input');
        if (!selectedRoomsInput) {
          console.error('selected-rooms-input element not found');
          return;
        }
        selectedRoomsInput.value = JSON.stringify(selectedRooms);
        console.log("invoiceLineData", JSON.stringify(selectedRooms));
      }
    });

    //=======================================================================================================================
  </script>
  <!-- ================== Bắt Click thêm phòng đã chọn-END =================================================================== -->

  <!-- thư viện để add header và footer  -->

  <div class="scroll-to-top scroll-to-target" data-target="html">
    <span class="fa fa-angle-up"></span>
  </div>

  <!-- ==================confirm delete ========================= -->
  <script>
    function confirmDelete(id) {
      if (confirm("Are you sure you want to delete it?")) {
        deleteBooking(id);
      }
    }

    function deleteBooking(id) {
      fetch(`/admin/delete/${id}`, {
        method: "POST",
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Failed to delete booking");
          }
          return response.text();
        })
        .then((message) => {
          alert(message);
          location.reload();
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("An error occurred: " + error.message);
        });
    }
  </script>
  <style>
    .btn.js-buy-ticket {
      background-color: green;
      color: white;
      /* Để đảm bảo văn bản trên nút có thể đọc được */
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
    }

    .customerNameText,
    .customerIdentificationIDText,
    .customerPhoneText,
    .customerEmailText,
    .customerAddressText {
      color: red;
    }
  </style>
  <div class="scroll-to-top scroll-to-target" data-target="html">
    <span class="fa fa-angle-up"></span>
  </div>

  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/popper.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/jquery.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.copy1.js}"></script>
  <script th:src="@{/js/slick.min.js}"></script>
  <script th:src="@{/js/slick-animation.min.js}"></script>
  <script th:src="@{/js/jquery.fancybox.js}"></script>
  <script th:src="@{/js/wow.js}"></script>
  <script th:src="@{/js/appear.js}"></script>
  <script th:src="@{/js/mixitup.js}"></script>
  <script th:src="@{/js/knob.js}"></script>
  <script th:src="@{/js/mmenu.js}"></script>
  <script th:src="@{/js/main.copy1.js}"></script>
</body>

</html>