<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>Table 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
	
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/fonts/themify-icons-font/themify-icons/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
	

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Đặt phòng</h2>
				</div>
			</div>
			<div class="box">
				<div class="box-header">
				  <a href="detaildatphong" class="btn btn-success">+Đặt phòng</a>
				  <div class="box-tools">
					<div class="input-group input-group-btn" style="width: 200px">
					  <input
						type="text"
						name="table_search"
						class="form-control pull-right"
						placeholder="Search"
					  />
  
					  <div class="input-group-btn">
						<button type="submit" class="btn btn-default">
						  <i class="fa fa-search"></i>
						</button>
					  </div>
					</div>
				  </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
						  <thead>
						    <tr>
						      <th>Số phiếu thuê</th>
						      <th>Tên khách hàng</th>
						      <th>Ngày lập phiếu</th>
						      <th>Tên nhân viên</th>
						      <th>Chi tiết</th>
						      <th>xoá</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">1001</th>
						      <td>Mark Otto</td>
						      <td>10/03/2023</td>
						      <td>A</td>
						      <td><a href="Invoice.html" class="ti-menu"></a></td>
						      <td><a href="#" class="btn btn-danger ti-close"></a></td>
						    </tr>

						    <tr>
						      <th scope="row">1001</th>
						      <td>Mark Otto</td>
						      <td>10/03/2023</td>
						      <td>A</td>
						      <td><a href="#" class="ti-menu"></a></td>
						      <td><a href="#" class="btn btn-danger ti-close"></a></td>
						    </tr>

						    <tr>
						      <th scope="row">1001</th>
						      <td>Mark Otto</td>
						      <td>10/03/2023</td>
						      <td>A</td>
						      <td><a href="#" class="ti-menu"></a></td>
						      <td><a href="#" class="btn btn-danger ti-close"></a></td>
						    </tr>

						    <tr>
						      <th scope="row">1001</th>
						      <td>Mark Otto</td>
						      <td>10/03/2023</td>
						      <td>A</td>
						      <td><a href="#" class="ti-menu"></a></td>
						      <td><a href="#" class="btn btn-danger ti-close"></a></td>
						    </tr>

						     <tr>
						      <th scope="row">1001</th>
						      <td>Mark Otto</td>
						      <td>10/03/2023</td>
						      <td>A</td>
						      <td><a href="#" class="ti-menu"></a></td>
						      <td><a href="#" class="btn btn-danger ti-close"></a></td>
						    </tr>

						    
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/popper.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/main.js}"></script>

	</body>
</html>

