<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Room Detail</title>
<!-- Stylesheets -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
<link th:href="@{/css/mmenu.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">

<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
<link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>
    <div class="boxcar-wrapper">
    <section class="cars-section-fifteen layout-radius">
        <div class="shop-c-box"> 
            <div class="boxcar-container">
                <div class="boxcar-title-three">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><span>Detail</span></li>
                    </ul>
                    <h2>Room Detail</h2>
                </div>
                <div class="row">
                    <div class="image-column col-lg-7 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="shop-single-thumbs-slider">
                                <div class="shop-single-thumb">
                                    <div class="thumb-img">
                                        <img src="images/resource/10032021170917-gioi-thieu-ve-khach-san-hoang-hai.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="shop-single-thumb">
                                    <div class="thumb-img">
                                        <img src="images/resource/10032021170917-gioi-thieu-ve-khach-san-hoang-hai.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="shop-single-thumb">
                                    <div class="thumb-img">
                                        <img src="images/resource/10032021170917-gioi-thieu-ve-khach-san-hoang-hai.jpg" alt="" />
                                    </div>
                                </div>
                            </div><!--shop-single-thumbs-slider-->
                            <div class="shop-single-product-slider">
                                <div class="shop-single-product-slide">
                                    <img src="images/resource/10032021170917-gioi-thieu-ve-khach-san-hoang-hai.jpg" alt="" />
                                </div>
                                <div class="shop-single-product-slide">
                                    <img src="images/resource/10032021170917-gioi-thieu-ve-khach-san-hoang-hai.jpg" alt="" />
                                </div>
                                <div class="shop-single-product-slide">
                                    <img src="images/resource/10032021170917-gioi-thieu-ve-khach-san-hoang-hai.jpg" alt="" />
                                </div>
                            </div><!--shop-single-product-slider-->
                        </div>
                    </div>
                    <div class="content-column col-lg-5 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h2>P01</h2>
                            Per hour:<span class="price">$399<del>$699</del></span>
                            <!-- <small><i class="fa-solid fa-check"></i>Phong trong</small> -->
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Tempus nulla faucibus viverra nisl non senectus tortor. 
                            </div>
                            <div class="btn-box">
                                <div class="number">
                                    <span class="minus">-</span>
                                    <input type="text" value="1"/>
                                    <span class="plus">+</span>
                                </div>
                                <a href="#" class="shoping-btn">Luu</a>
                            </div>
                            <ul class="list">
                                <li><span>Sku:</span>RTA-0058</li>
                                <li><span>Category:</span>Oil & Filters, Parts</li>
                                <li><span>Tags:</span>dealership, motors, parts</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-sec">
            <div class="boxcar-container">
                <div class="right-box one">
                    <div class="row">
                        <div class="tab-column col-lg-4 col-md-4 col-sm-12">
                            <div class="inner-column">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
                                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Review</button>
                                    </div>
                                </nav>        
                            </div>
                        </div>
                        <div class="content-column col-lg-8 col-md-8 col-sm-12">
                            <div class="inner-column">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <!-- description-sec -->
                                        <div class="description-sec">
                                            <h4 class="title">Details</h4>
                                            <div class="text two"> This is..............
                                            </div>
                                            <div class="text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis 
                                                suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
                                            </div>
                                        </div>
                                        <!-- features-sec -->
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- cars-section-fourteen -->
        <div class="cars-section-fourteen v1">
            <div class="boxcar-container">
                <div class="boxcar-title wow fadeInUp">
                    <h2>Related Room</h2>
                    <a href="#" class="btn-title">View All<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <g clip-path="url(#clip0_601_243)">
                        <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z" fill="#050B20"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_601_243">
                        <rect width="14" height="14" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                    </a>
                </div>
                <div class="row car-slider-three" data-preview="4">
                    <!-- car-block-fourteen -->
                    <div class="car-block-fourteen col-lg-3 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="images/resource/10032021170917-gioi-thieu-ve-khach-san-hoang-hai.jpg" alt=""></a></figure>
                            </div>
                            <div class="content-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <div class="text"><a th:href="@{/detail}" title="">P02</a></div>
                                <h6 class="title"><del>$789</del>$399</h6>
                                <a href="#" class="shoping-btn">Xem thong tin phong</a>
                            </div>
                        </div>
                    </div>
                    <!-- car-block-fourteen -->
                    <!-- <div class="car-block-fourteen col-lg-3 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="images/resource/shop14-2.png" alt=""></a></figure>
                            </div>
                            <div class="content-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <div class="text"><a href="shop-single.html" title="">12v Compact Battery Jump Starter</a></div>
                                <h6 class="title"><del>$789</del>$399</h6>
                                <a href="#" class="shoping-btn"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div> -->
                    <!-- car-block-fourteen -->
                    <!-- <div class="car-block-fourteen col-lg-3 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="images/resource/shop14-3.png" alt=""></a></figure>
                            </div>
                            <div class="content-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <div class="text"><a href="shop-single.html" title="">12v Compact Battery Jump Starter</a></div>
                                <h6 class="title"><del>$789</del>$399</h6>
                                <a href="#" class="shoping-btn"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <!- car-block-fourteen -->
                    <!-- <div class="car-block-fourteen col-lg-3 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="images/resource/shop14-4.png" alt=""></a></figure>
                            </div>
                            <div class="content-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <div class="text"><a href="shop-single.html" title="">12v Compact Battery Jump Starter</a></div>
                                <h6 class="title"><del>$789</del>$399</h6>
                                <a href="#" class="shoping-btn"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div>
                    <!- car-block-fourteen -->
                    <!-- <div class="car-block-fourteen col-lg-3 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="images/resource/shop14-1.png" alt=""></a></figure>
                            </div>
                            <div class="content-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <div class="text"><a href="shop-single.html" title="">12v Compact Battery Jump Starter</a></div>
                                <h6 class="title"><del>$789</del>$399</h6>
                                <a href="#" class="shoping-btn"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div> --> 
                    <!-- car-block-fourteen -->
                    <!-- <div class="car-block-fourteen col-lg-3 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="images/resource/shop14-2.png" alt=""></a></figure>
                            </div>
                            <div class="content-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <div class="text"><a href="shop-single.html" title="">12v Compact Battery Jump Starter</a></div>
                                <h6 class="title"><del>$789</del>$399</h6>
                                <a href="#" class="shoping-btn"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div> -->
                    <!-- car-block-fourteen -->
                    <!-- <div class="car-block-fourteen col-lg-3 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="images/resource/shop14-3.png" alt=""></a></figure>
                            </div>
                            <div class="content-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <div class="text"><a href="shop-single.html" title="">12v Compact Battery Jump Starter</a></div>
                                <h6 class="title"><del>$789</del>$399</h6>
                                <a href="#" class="shoping-btn"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div> -->
                    <!-- car-block-fourteen -->
                    <!-- <div class="car-block-fourteen col-lg-3 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="images/resource/shop14-4.png" alt=""></a></figure>
                            </div>
                            <div class="content-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <div class="text"><a href="shop-single.html" title="">12v Compact Battery Jump Starter</a></div>
                                <h6 class="title"><del>$789</del>$399</h6>
                                <a href="#" class="shoping-btn"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- End cars-section-fourteen -->
    </section> </div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
<script th:src="@{/js/jquery.js}"></script> 
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/slick-animation.min.js}"></script>
<script th:src="@{/js/jquery.fancybox.js}"></script>
<script th:src="@{/js/wow.js}"></script>
<script th:src="@{/js/appear.js}"></script>
<script th:src="@{/js/mixitup.js}"></script>
<script th:src="@{/js/knob.js}"></script>
<script th:src="@{/js/mmenu.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

<!-- Mirrored from creativelayers.net/themes/boxcar-html/shop-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 May 2024 03:27:39 GMT -->
</html>