<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Home Receptionist</title>
    <!-- Stylesheets -->
    <link th:href="@{/css/bootstrap.min.copy.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
    <link th:href="@{/css/mmenu.css}" rel="stylesheet">
    <link th:href="@{/css/style.copy.css}" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">
</head>

<body>

    <div class="boxcar-wrapper">
        <!-- Main Header-->
        <header class="boxcar-header header-style-v1 home-8">
            <div th:replace="~{fragments/header_recep :: header}"></div>
        </header>
        <!-- End header-section -->
        <!-- BANNER SECTION -->
        <section class="boxcar-banner-section-v8">
            <div class="boxcar-container">
                <div class="banner-content-v8">
                    <h2 class="wow fadeInUp">Enjoy a luxury experience</h2>
                </div>
            </div>
        </section>
      
       

    </div>

    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    <!-- Scroll To Top -->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.copy1.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/slick-animation.min.js}"></script>
    <script th:src="@{/js/jquery.fancybox.js}"></script>
    <script th:src="@{/js/wow.js}"></script>
    <script th:src="@{/js/appear.js}"></script>
    <script th:src="@{/js/mixitup.js}"></script>
    <script th:src="@{/js/knob.js}"></script>
    <script th:src="@{/js/mmenu.js}"></script>
    <script th:src="@{/js/main.copy1.js}"></script>
</body>


</html>