<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BOXCAR | HTML Template</title>
    <!-- Stylesheets -->
    <link th:href="@{/css/bootstrap.min.copy.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
    <link th:href="@{/css/mmenu.css}" rel="stylesheet">
    <link th:href="@{/css/style.copy.css}" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style>
        .passText {
            color: red;
        }
    </style>
</head>

<body>

    <div class="boxcar-wrapper">

        <!-- Main Header-->
        <header class="boxcar-header header-style-v1 style-two inner-header cus-style-1">
            <div th:replace="~{fragments/header :: header}"></div>
        </header>
        <!-- End header-section -->

        <!-- login-section -->
        <section class="login-section layout-radius">
            <div class="inner-container">
                <div class="right-box">
                    <div class="form-sec">
                        <div class="form-box" id="form">
                            <div class="title">
                                <h3>Login</h3>
                            </div>
                            <form th:action="@{userLogin}" th:object="${employee}" method="post" onsubmit="return checkFormSubmission()">
                                <div th:if="${loginError}" class="alert alert-danger" role="alert">
                                    <p th:text="${loginError}"></p>
                                </div>
                                <th:block th:if="${param.error}">
                                    <p class="text-center text-danger fs-5">
                                        [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                                </th:block>
                                <div class="form_boxes">
                                    <label>Gmail</label>
                                    <input type="text" name="username" placeholder="enter" required />
                                </div>
                                <div class="form_boxes">
                                    <label>Password</label>
                                    <input type="password" name="password" placeholder="at least 6 character"
                                        id="password" required />
                                    <span class="passText"></span>

                                </div>

                                <div class="btn-box">
                                    <!-- <label class="contain">Remember me
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label> -->
                                    <a href="/forgotpass" class="pasword-btn">Forgotten password?</a>
                                </div>
                                <div class="form-submit">
                                    <button type="submit" class="theme-btn">Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </section>

    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script>
        const form = document.querySelector('form');
        const password = document.getElementById('password');
        const passText = document.querySelector('.passText');

        password.addEventListener('input', checkPassword);

        function checkPassword() {
            const passPattern = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/;
            if (password.value.match(passPattern)) {
                passText.innerHTML = '';
                return true;
            } else {
                passText.innerHTML = 'Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one number.';
                return false;
            }
        }

        function checkFormSubmission() {
            const isValidPass = checkPassword();
            return isValidPass;
        }

    </script>

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.copy1.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/slick-animation.min.js}"></script>
    <script th:src="@{/js/jquery.fancybox.js}"></script>
    <script th:src="@{/js/wow.js}"></script>
    <script th:src="@{/js/appear.js}"></script>
    <script th:src="@{/js/mixitup.js}"></script>
    <script th:src="@{/js/knob.js}"></script>
    <script th:src="@{/js/mmenu.js}"></script>
    <script th:src="@{/js/main.copy1.js}"></script>
</body>

<!-- Mirrored from creativelayers.net/themes/boxcar-html/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 May 2024 03:28:16 GMT -->

</html>