<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
 
    <div>
      <canvas id="pieChart"></canvas>
    </div>


    <script type="text/javascript" th:src="@{/assets/js/chart.umd.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/vendor.bundle.base.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/chart.js}"></script>
</body>
</html>