<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Room</title>
<!-- Stylesheets -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
<link th:href="@{/css/mmenu.css}" rel="stylesheet">
<link th:href="@{/css/jquery-ui.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/modal.css}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- fe cua loc -->
<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="boxcar-wrapper">
    <!-- cars-section-fourteen -->
    <section class="cars-section-fourteen layout-radius">
        <div class="shop-c-box">
        <div class="boxcar-container">
            <div class="boxcar-title-three">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><span>Room</span></li>
                </ul>
                <h2>Room List</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="side-bar">
                        <div class="categories-box">
                            <label for="date">Ngày:</label>
                            <input type="date" id="date">
                        </div>
                        <div class="categories-box">
                            <label for="time">Giờ:</label>
                            <input type="time" id="time">
                        </div>
                        <div class="categories-box">
                            <h6 class="title">Stattus</h6>
                            <div class="cheak-box">
                                <label class="contain">Phong trong
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="contain">Phong da dat
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="contain">Phong dang thue
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="contain">Tat ca phong
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="categories-box">
                            <h6 class="title">Loai Phong</h6>
                            <div class="cheak-box">
                                <label class="contain">Phong don
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="contain">Phong doi
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="contain">Phong gia dinh
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="contain">Tat ca phong
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="categories-box">
                            <h6 class="title">Don Dep</h6>
                            <div class="cheak-box">
                                <label class="contain">Da don dep
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="contain">Chua don dep
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="contain">Sua chua
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="contain">Tat ca
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-column col-lg-9 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="text-box">
                            <div class="title">Results</div>
                        </div>
                        <div class="row">
                            <!-- car-block-fourteen -->
                            <div class="car-block-fourteen col-lg-4 col-md-6 col-sm-6">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="#"><img src="images/resource/10032021170917-gioi-thieu-ve-khach-san-hoang-hai.jpg" alt=""></a></figure>
                                    </div>
                                    <div class="content-box">
                                        <h5 class="title">P01</h5>
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <div class="text">Phong giuong doi chill chill</div>
                                        <h6 class="title"><del>$50</del>$25</h6>
                                        <a th:href="@{/detail}" class="shoping-btn">Xem Thong Tin Phong</a>
                                        <button class="btn js-buy-ticket">Sửa Thông Tin</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-sec">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.57983 5.99989C2.57983 5.7849 2.66192 5.56987 2.82573 5.4059L7.98559 0.24617C8.31382 -0.0820565 8.84598 -0.0820565 9.17408 0.24617C9.50217 0.574263 9.50217 1.10632 9.17408 1.43457L4.60841 5.99989L9.17376 10.5654C9.50185 10.8935 9.50185 11.4256 9.17376 11.7537C8.84566 12.0821 8.31366 12.0821 7.98544 11.7537L2.82555 6.59404C2.66176 6.42999 2.57983 6.21495 2.57983 5.99989Z" fill="#050B20"/>
                                </svg> </span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                                  <li class="page-item"><a class="page-link" href="#">20</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_2880_6407)">
                                    <path d="M9.42017 6.00011C9.42017 6.2151 9.33808 6.43013 9.17427 6.5941L4.01441 11.7538C3.68618 12.0821 3.15402 12.0821 2.82592 11.7538C2.49783 11.4257 2.49783 10.8937 2.82592 10.5654L7.39159 6.00011L2.82624 1.43461C2.49815 1.10652 2.49815 0.574382 2.82624 0.246315C3.15434 -0.0820709 3.68634 -0.0820709 4.01457 0.246315L9.17446 5.40596C9.33824 5.57001 9.42017 5.78505 9.42017 6.00011Z" fill="#050B20"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_2880_6407">
                                    <rect width="12" height="12" fill="white" transform="translate(12 12) rotate(-180)"/>
                                    </clipPath>
                                    </defs>
                                </svg> </span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        </div>
    </section>
</div>
<!-- modal chứa cả các giao diện phủ lên -->
<div class="modal js-modal">
    <div class="window js-modal-window">
        <div class="title">P01</div>
        <div class="main">
            <div class="header">
                <div>
                    <span class="material-icons">account_box</span>
                    <span id="txblTenKH" class="text"></span>
                </div>
                <div>
                    <span class="material-icons">calendar_today</span>
                    <span id="txblNgayDen" class="text"></span>
                </div>
                <div>
                    <span class="material-icons" id="icDayorHour">access_time</span>
                    <span id="txblSoNgay" class="text"></span>
                </div>
                <div>
                    <span class="material-icons">group</span>
                    <span id="txblSoNguoi" class="text"></span>
                    <span>người</span>
                </div>
            </div>
            <div class="lefttt">
                <div class="list-view">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Dịch vụ</th>
                                <th>SL</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody id="lvSuDungDV">
                            <tr>
                                <td>1</td>
                                <td>alo</td>
                                <td>123</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="button green-button" id="btnThemDV">Thêm dịch vụ</button>
            </div>
            <div class="righttt">
                <div class="list view">
                    <p>Cap nhat tinh trang phong</p>
                    <input type="text" name="t1" value="Phong dang thue">
                    <br>
                    <p>Cap nhat tinh trang don dep</p>
                    <select>
                        <option>Da don dep</option>
                        <option>Chưa dọn dẹp</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="footer">
            <button class="button green-button" id="btnThanhToan">Thanh toán</button>
            <button class="button green-button" id="btnNhanPhong">Nhận phòng</button>
            <button class="button green-button" id="btnLuu">Lưu</button>
            <button class="button gray-button js-modal-close" id="btnThoat">Thoát</button>
        </div>
    </div>
</div>
<!-- hiệu ứng js trượt vào  -->
<script>
    const buyBtns = document.querySelectorAll('.js-buy-ticket')
    // 3 nút có class js.. lưu vào biến buyBtns
    const modal = document.querySelector('.js-modal')
    // lấy tất cả các thằng có class .js-modal
    const modalClose = document.querySelector('.js-modal-close')

    const modalWindow = document.querySelector('.js-modal-window')

    // hàm hiện modal mua vé (thêm class open cả modal)
    function showByTickets() {
        modal.classList.add('open')
        // alert('ok')
    }
    
    // hàm ẩn modal mua vé (xóa class open ở modal)
    function hideByTickets() {
        modal.classList.remove('open')
        
    }
    // lặp qua từng thẻ button và nghe hành vi click
    for(const buyBtn of buyBtns){
        // từng thằng trong buyBtns
        buyBtn.addEventListener('click',showByTickets)
    }
    // nghe hành vi click vaof button close
    modalClose.addEventListener('click',hideByTickets)
    // khi click vào tất cả các khoảng modal 
    modal.addEventListener('click',hideByTickets)
    // vì khi click vào tất cả các khoảng modal thì nó
    // bao gồm các giao diện phủ lên nên ngăn chặn bằng stopPropagation
    modalWindow.addEventListener('click', function(event){
        event.stopPropagation()
    })
</script>
</body>

</html>