<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Room Category</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="@https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" th:href="@{/css/style.css}" media="all" href="/css/style.css" type="text/css">
	<link rel="stylesheet" th:href="@{/fonts/themify-icons-font/themify-icons/themify-icons.css}" media="all"
		href="/static/fonts/themify-icons-font/themify-icons/themify-icons.css" type="text/css">
	<!-- thư viện để add header và footer  -->

	<link th:href="@{/css/bootstrap.min.copy.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
	<link th:href="@{/css/mmenu.css}" rel="stylesheet">
	<link th:href="@{/css/style.copy.css}" rel="stylesheet">

	<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
	<link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">

	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


</head>

<body>
	<div class="boxcar-wrapper">
		<header class="boxcar-header header-style-v1 style-two inner-header cus-style-1">
			<div th:replace="~{fragments/header :: header}"></div>
		</header>
		<section class="ftco-section layout-radius">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Room Category Management</h2>
					</div>
				</div>

				<!-- <div class="InputContainer" style="margin-bottom: 20px;">
				<input placeholder="Search..." id="input" class="input" name="text" type="text">
				
			</div> -->
				<!-- <div class="InputContainer" style="margin-bottom: 20px;">
					<form th:action="@{/searchRoomType}" method="get">
						<input placeholder="Search..." id="input" class="input" name="name" type="text">
						<button type="submit">Search</button>
					</form>
				</div> -->

				<div class="col-md-4 text-left mb-4">
					<form>
						<div class="input-group">
							<input type="text" class="form-control" name="name" placeholder="Search Room Type Name..." aria-label="Search" aria-describedby="search-button">
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit" id="search-button" style="background-color: #05073e; color: #fff;">
									Search
								</button>
							</div>
						</div>
					</form>
				</div>
				
				<!-- <div class="InputContainer" style="position: absolute; top: 210px; right: 280px;">
				<input id="input" class="input" name="text" type="date">
				
			  </div> -->
				<!-- <div class="InputContainer" style="position: absolute; top: 150px; right: 150px;">
					<a th:href="@{/add-cate}">
						<button id="addRoomType" class="button">Add Room Category</button>
					</a>
				</div> -->

				<div class="col-md-11 text-right  mb-4">
					<button class="btn btn-primary" onclick="window.location.href='/admin/add-cate'"
						style="background-color: #05073e; color: #fff;">
						Add Room Type
					</button>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="table-wrap">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Category ID</th>
										<th>Name</th>
										<th>Description</th>
										<th>Per Hour</th>
										<th>Per Day</th>
										<th>Update</th>
										<!-- <th>Delete</th> -->
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list : ${listRoomType}">
										<th scope="row" th:text="${list.id}"></th>
										<td th:text="${list.name}"></td>
										<td th:text="${list.des}"></td>
										<td th:text="${list.priceHour}"></td>
										<td th:text="${list.priceDay}"></td>
										<td><a th:href="@{/list/{id}/edit(id=${list.id})}" class="ti-menu"></a></td>
										<!-- <td><a th:href="@{/list/{id}/delete(id=${list.id})}" class="btn btn-danger ti-close"></a></td> -->
										<!-- <td><a href="javascript:void(0);"
												th:onclick="'confirmDelete(' + ${list.id} + ');'"
												class="btn btn-danger ti-close"></a>
										</td> -->
										<!-- <td><a href="javascript:void(0);" th:onclick="'confirmHide(' + ${list.id} + ');'" class="btn btn-danger ti-close"></a></td> -->
										<td>
											<a href="javascript:void(0);" th:if="${list.roomTypeActive == 1}"
												th:onclick="'confirmInactiveRoomType(' + ${list.id} + ');'"
												class="btn btn-success"> Active</a>
											<a href="javascript:void(0);" th:if="${list.roomTypeActive == 0}"
												th:onclick="'confirmActiveRoomType(' + ${list.id} + ');'"
												class="btn btn-danger"> Inactive</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script>
			function confirmInactiveRoomType(RoomTypeID) {
				if (confirm('Are you sure you want to inactive it?')) {
					inactiveRoomType(RoomTypeID);
				}
			}

			function inactiveRoomType(RoomTypeID) {
				fetch(`/admin/inactiveRoomType/${RoomTypeID}`, {
					method: 'GET'
				})
					.then(response => response.text().then(text => ({ status: response.status, text })))
					.then(({ status, text }) => {
						alert(text);
						if (status === 200) { // HTTP OK status
							location.reload(); // Reload the page to reflect the change
						} else {
							throw new Error(text); // If the message is not expected, throw an error
						}
					})
					.catch(error => {
						console.error('Error:', error);
						alert("An error occurred: " + error.message);
					});
			}
		</script>
		<script>
			function confirmActiveRoomType(RoomTypeID) {
				if (confirm('Are you sure you want to active it?')) {
					activeRoomType(RoomTypeID);
				}
			}

			function activeRoomType(RoomTypeID) {
				fetch(`/admin/activeRoomType/${RoomTypeID}`, {
					method: 'GET'
				})
					.then(response => response.text().then(text => ({ status: response.status, text })))
					.then(({ status, text }) => {
						alert(text);
						if (status === 200) { // HTTP OK status
							location.reload(); // Reload the page to reflect the change
						} else {
							throw new Error(text); // If the message is not expected, throw an error
						}
					})
					.catch(error => {
						console.error('Error:', error);
						alert("An error occurred: " + error.message);
					});
			}
		</script>

		<!-- <script>
			function confirmDelete(RoomTypeID) {
				if (confirm('Are you sure you want to delete it?')) {
					deleteRoomType(RoomTypeID);
				}
			}

			function deleteRoomType(RoomTypeID) {
				fetch(`/deleteRo/${RoomTypeID}`, { // Ensure the endpoint matches the controller endpoint
					method: 'GET'
				})
					.then(response => {
						if (!response.ok) {
							throw new Error("Failed to delete room category");
						}
						return response.text(); // Read the response text
					})
					.then(message => {
						if (message === "Room category deleted successfully") {
							alert(message);
							location.reload(); // Reload the page to reflect the deletion
						} else {
							throw new Error(message); // If the message is not expected, throw an error
						}
					})
					.catch(error => {
						console.error('Error:', error);
						alert("An error occurred: " + error.message);
					});
			}


		</script> -->



	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<!-- thư viện để add header và footer  -->

	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.copy1.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<script th:src="@{/js/slick-animation.min.js}"></script>
	<script th:src="@{/js/jquery.fancybox.js}"></script>
	<script th:src="@{/js/wow.js}"></script>
	<script th:src="@{/js/appear.js}"></script>
	<script th:src="@{/js/mixitup.js}"></script>
	<script th:src="@{/js/knob.js}"></script>
	<script th:src="@{/js/mmenu.js}"></script>
	<script th:src="@{/js/main.copy1.js}"></script>



	<script th:src="@{/src/main/resources/static/js/jquery.min.js}"></script>
	<script th:src="@{/src/main/resources/static/js/popper.js}"></script>
	<script th:src="@{/src/main/resources/static/js/bootstrap.min.js}"></script>
	<script th:src="@{/src/main/resources/static/js/main.js}"></script>

</body>

</html>