<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Room List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="@https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}" media="all" href="/css/style.css" type="text/css">
    <link rel="stylesheet" th:href="@{/fonts/themify-icons-font/themify-icons/themify-icons.css}" media="all"
        href="/static/fonts/themify-icons-font/themify-icons/themify-icons.css" type="text/css">
    <!-- thư viện để add header và footer  -->

    <link th:href="@{/css/bootstrap.min.copy.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
    <link th:href="@{/css/mmenu.css}" rel="stylesheet">
    <link th:href="@{/css/style.copy.css}" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


</head>

<body>
    <div class="boxcar-wrapper">
        <header class="boxcar-header header-style-v1 style-two inner-header cus-style-1">
            <div th:replace="~{fragments/header :: header}"></div>
        </header>
        <section class="ftco-section layout-radius">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Room Management</h2>
                    </div>
                </div>
                <div class="col-md-4 text-left mb-4">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" placeholder="Search Room Number..."
                                aria-label="Search" aria-describedby="search-button">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="search-button"
                                    style="background-color: #05073e; color: #fff;">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-11 text-right  mb-4">
                    <button class="btn btn-primary" onclick="window.location.href='/admin/add-room'"
                        style="background-color: #05073e; color: #fff;">
                        Add Room
                    </button>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Room Number</th>
                                        <th>Room Type</th>
                                        <th>Description</th>
                                        <th>Price Hour</th>
                                        <th>Price Day</th>
                                        <th>Status</th>
                                        <th>Update</th>
                                        <!-- <th>Change</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="room : ${rooms}">
                                        <td th:text="${room.id}"></td>
                                        <td th:text="${room.roomNum}"></td>
                                        <td th:text="${room.roomTypeName}"></td>
                                        <td th:text="${room.roomTypeDescription}"></td>
                                        <td th:text="${room.priceHour}"></td>
                                        <td th:text="${room.priceDay}"></td>
                                        <td th:text="${room.status}"></td>
                                        <td><a th:href="@{/admin/listRooms/{id}/edit(id=${room.id})}"
                                                class="ti-menu"></a></td>
                                        <!-- <td>
                                                <a th:href="@{/admin/listRooms/{id}/edit(id=${room.id})}"
                                                    class="btn btn-primary">Edit</a>
                                                <a th:if="${room.status == 'active'}"
                                                    th:href="@{/admin/inactiveRoom/{id}(id=${room.id})}"
                                                    class="btn btn-warning">Inactive</a>
                                                <a th:if="${room.status == 'inactive'}"
                                                    th:href="@{/admin/activeRoom/{id}(id=${room.id})}"
                                                    class="btn btn-success">Active</a>
                                            </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <script>
			function confirmInactiveRoomType(RoomTypeID) {
				if (confirm('Are you sure you want to inactive it?')) {
					inactiveRoomType(RoomTypeID);
				}
			}

			function inactiveRoomType(RoomTypeID) {
				fetch(`/admin/inactiveRoomType/${RoomTypeID}`, {
					method: 'GET'
				})
					.then(response => response.text().then(text => ({ status: response.status, text })))
					.then(({ status, text }) => {
						alert(text);
						if (status === 200) { // HTTP OK status
							location.reload(); // Reload the page to reflect the change
						} else {
							throw new Error(text); // If the message is not expected, throw an error
						}
					})
					.catch(error => {
						console.error('Error:', error);
						alert("An error occurred: " + error.message);
					});
			}
		</script>
		<script>
			function confirmActiveRoomType(RoomTypeID) {
				if (confirm('Are you sure you want to active it?')) {
					activeRoomType(RoomTypeID);
				}
			}

			function activeRoomType(RoomTypeID) {
				fetch(`/admin/activeRoomType/${RoomTypeID}`, {
					method: 'GET'
				})
					.then(response => response.text().then(text => ({ status: response.status, text })))
					.then(({ status, text }) => {
						alert(text);
						if (status === 200) { // HTTP OK status
							location.reload(); // Reload the page to reflect the change
						} else {
							throw new Error(text); // If the message is not expected, throw an error
						}
					})
					.catch(error => {
						console.error('Error:', error);
						alert("An error occurred: " + error.message);
					});
			}
		</script> -->
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- thư viện để add header và footer  -->

    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.copy1.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/slick-animation.min.js}"></script>
    <script th:src="@{/js/jquery.fancybox.js}"></script>
    <script th:src="@{/js/wow.js}"></script>
    <script th:src="@{/js/appear.js}"></script>
    <script th:src="@{/js/mixitup.js}"></script>
    <script th:src="@{/js/knob.js}"></script>
    <script th:src="@{/js/mmenu.js}"></script>
    <script th:src="@{/js/main.copy1.js}"></script>



    <script th:src="@{/src/main/resources/static/js/jquery.min.js}"></script>
    <script th:src="@{/src/main/resources/static/js/popper.js}"></script>
    <script th:src="@{/src/main/resources/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/src/main/resources/static/js/main.js}"></script>

</body>

</html>