<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Table 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/css/style.css}" media="all" href="/css/style.css" type="text/css">
    <link rel="stylesheet" th:href="@{/fonts/themify-icons-font/themify-icons/themify-icons.css}" media="all"
        href="/static/fonts/themify-icons-font/themify-icons/themify-icons.css" type="text/css">

    <!-- thư viện để add header và footer  -->

    <link th:href="@{/css/bootstrap.min.copy.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
    <link th:href="@{/css/mmenu.css}" rel="stylesheet">
    <link th:href="@{/css/style.copy.css}" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
    <div class="boxcar-wrapper">
        <header class="boxcar-header header-style-v1 style-two inner-header cus-style-1">
            <div th:replace="~{fragments/header :: header}"></div>
        </header>

        <!-- thêm class layout-radius để fix header  -->
        <section class="ftco-section layout-radius">
            <div class="row">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Employee List</h2>
                    </div>
                </div>
                <!-- 
                <div class="InputContainer" style="margin-bottom: 20px;">
                    <form>
                        <input placeholder="Search.." id="input" name="key" class="input" type="text">
                    </form>
                </div> -->

            </div>
            <div class="col-md-6 text-center mb-5">
                <button class="btn btn-primary" onclick="window.location.href='/employee/add'">Add Employee</button>
            </div>
            <div class="container">
                <div class="col-lg-12">
                    <div class="table-wrap">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>FullName</th>
                                    <th>Gender</th>
                                    <th>Dob</th>
                                    <th>Role</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>CCCD</th>
                                    <th>Email</th>
                                    <th>UserName</th>
                                    <th>Password</th>
                                    <th>Salary</th>
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="list : ${emList}">
                                    <th th:text="${list.id}"></th>
                                    <td th:text="${list.fullName}"></td>
                                    <td th:text="${list.gender == 1 ? 'Male' : 'Female'}"></td>
                                    <td th:text="${list.dob}"></td>
                                    <td th:text="${list.role}"></td>
                                    <td th:text="${list.address}"></td>
                                    <td th:text="${list.phone}"></td>
                                    <td th:text="${list.idenId}"></td>
                                    <td th:text="${list.email}"></td>
                                    <td th:text="${list.username}"></td>
                                    <td th:text="${list.password}"></td>
                                    <td th:text="${list.salary}"></td>
                                    <td><a th:href="@{'/employee/edit/'+${list.id}}" class="ti-menu"></a></td>
                                    <td><a th:href="@{'/employee/delete/'+${list.id}}" class="btn btn-danger ti-close deleteButton"></a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Account</h5>
                    <button type="button" class="close js-modal-close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <a href="" type="button" class="btn btn-primary" id="deleteId"> Save changes </a>
                    <button type="button" class="btn btn-secondary js-modal-close">Close</button>
    
                </div>
            </div>
        </div>
    </div>

    </section>


    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- thư viện để add header và footer  -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <script>
        const closeModalButtons = $('.js-modal-close, .modal-footer .btn-secondary');

        closeModalButtons.on('click', function () {
            $('#deleteModal').modal('hide');
        });
        $(document).ready(function () {
            $('.table .deleteButton').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');
                $('#deleteModal #deleteId').attr('href', href);
                $('#deleteModal').modal('show');
            });
        });
    </script>

    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.copy1.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/slick-animation.min.js}"></script>
    <script th:src="@{/js/jquery.fancybox.js}"></script>
    <script th:src="@{/js/wow.js}"></script>
    <script th:src="@{/js/appear.js}"></script>
    <script th:src="@{/js/mixitup.js}"></script>
    <script th:src="@{/js/knob.js}"></script>
    <script th:src="@{/js/mmenu.js}"></script>
    <script th:src="@{/js/main.copy1.js}"></script>
</body>

</html>